.container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-bottom: 50px;
}


/* Tablets and mobile devices */
@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}