.container {
    margin: 125px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid #438DB6;
}

.recovered {
    border-bottom: 10px solid #C2DDD0;
}

.deaths {
    border-bottom: 10px solid #E77158;
}

/* Tablets and mobile devices */
@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }

    .container {
        margin: 85px 0;
    }
}